In [25]:
import pymongo
import pandas as pd
import json
import os

# Daten einlesen

Da alle csv-Dateien im Ordner 'data' enthalten sind, können wir mit dem Befehl ```os.listdir(PATH)``` alle Dateinamen auflisten und in der Variable *files* speichern.

In [26]:
files = [ 'data/' + x for x in os.listdir('data') ]
files

['data/bremen-obernstraße-20190930-20221031-hour.csv',
 'data/dresden-prager straße (nord)-20190728-20221031-hour.csv',
 'data/düsseldorf-königsallee ostseite (süd)-20180430-20221031-hour.csv',
 'data/frankfurt a.m.-zeil (mitte)-20190630-20221031-hour.csv',
 'data/hamburg-jungfernstieg-20180927-20221031-hour.csv',
 'data/hannover-georgstraße-20180731-20221031-hour.csv',
 'data/mainz-stadthausstraße-20180430-20221031-hour.csv',
 'data/münchen-kaufingerstraße-20190827-20221031-hour.csv',
 'data/rostock-kröpeliner straße (west)-20191031-20221031-hour.csv',
 'data/saarbrücken-bahnhofstraße (mitte)-20180430-20221031-hour.csv',
 'data/stuttgart-königstraße (mitte)-20180430-20221031-hour.csv']

# Daten aufbereiten

Zwar jliegen uns die Daten bereits im csv Format vor und können somit theoretisch direkt verwendet werden, für spätere Auswertungen ist es dennoch sinnvoll einige der Spalten, die aus zusammengesetzten Informationen bestehen, in ihre atomaren Bestandteile aufzuteilen und diese einzeln zu speichern.

Um die Transformation der Daten durchzuführen, wird das Package *Pandas* verwendet. Wir startet mit dem Einlesen der csv Dateien in einzelne Panda-Dataframes.

In [27]:
data = [ pd.read_csv(x, delimiter=';') for x in files ] # Stadt1 in data[0], Stadt2 in data[1] ...
data[0].head()

,location,time of measurement,weekday,pedestrians count,temperature in ºc,weather condition,incidents
0,"Obernstraße, Bremen",2019-10-01 00:00:00 +0200,Tuesday,16,NaN,NaN,NaN
1,"Obernstraße, Bremen",2019-10-01 01:00:00 +0200,Tuesday,7,NaN,NaN,NaN
2,"Obernstraße, Bremen",2019-10-01 02:00:00 +0200,Tuesday,6,NaN,NaN,NaN
3,"Obernstraße, Bremen",2019-10-01 03:00:00 +0200,Tuesday,5,NaN,NaN,NaN
4,"Obernstraße, Bremen",2019-10-01 04:00:00 +0200,Tuesday,4,NaN,NaN,NaN

Aufgespaltet werden demnach also die beiden Spalten **location** und **time of measurement**.

Die Daten der Spalte **location** bestehen jeweils immer aus zwei Informationen: Dem Ort der Messung und die dazugehörige Stadt. Separiert werden diese durch ein Komma. Da unabhängig vom Namen des Ortes oder Stadt in den Zellen jeweils immer nur ein Komma zu finden ist, können wir die von Pandas zur Verfügung gestellte Funktion ```DATAFRAME.str.split()``` verwenden, die die Werte anhand eines gegeben Strings separiert und daraus neue Spalten erstellt.

In [28]:
def separateLocation(data):
    '''Separate location into [location, city]'''
    for i in range(len(data)):
        data[i][['location', 'city']] = data[i]['location'].str.split(",", expand=True)
    return data

Die zweite zu separierende Information liegt in der Spalte **time of measurement**. Hier enthalten sind sowohl nützliche, als auch für uns nicht weiter wichtige Informationen.

Die Spalte selbst besteht wiederum aus drei Informationen: Dem Datum, der Uhrzeit und der Zeitzone, auf welche die Zeitangabe bezogen ist. Diese Daten sind mit Leerzeichen separiert, wir gehen also ähnlich wie mit der Spalte **location** vor und spalten die Information in ihre Bestandteile auf. Um leichter mit den Datums- und Zeitangaben arbeiten zu können, spalten wir diese ebenso auf.

In [29]:
def separateTime(data):
    '''Separate time of measurement into [year, month, day, hour, minute, second, timezone]'''
    for i in range(len(data)):
        data[i][['date','time', 'timezone']]= data[i]["time of measurement"].str.split(" ",expand=True)
        data[i][['year', 'month', 'day']] = data[i]['date'].str.split("-", expand=True)
        data[i][['hour', 'minute', 'second']] = data[i]['time'].str.split(":", expand=True)
    return data

Da wir nur Städte in Deutschland betrachten, ist die Information in welcher Zeitzone die Messung durchgeführt wurde nicht weiter relevant und kann somit entfernt werden. Ebenso interessiert uns die Minute und Sekunde der Messung nicht, da immer nur zur vollen Stunde gemessen wurde. Wir entfernen also für uns nicht weiter relevante Spalte und bennenen zusätzlich diverse Spalten für eine bessere Lesbarkeit um. Schließen werden noch die Datentypen der Spalten angepasst, um leichter mit ihnen arbeiten zu können.

In [31]:
def cleanData(data):
    '''Rename columns, drop unneccessary columns and adjust data types'''
    for i in range(len(data)):
        data[i] = data[i].rename(columns={"pedestrians count" : "pedestrians", "temperature in ºc" : "temperature", "weather condition" : "weatherCondition"})
        data[i].drop(columns=['time of measurement', 'date', 'time', 'timezone', 'minute', 'second'], inplace=True)
        data[i] = data[i].astype({'year' : 'int16', 'month' : 'int16', 'day' : 'int16', 'hour' : 'int16', 'incidents' : 'int16', 'temperature' : 'int16', 'pedestrians' : 'int32'}, errors='ignore')
    return data

Zuletzt wenden wir alle Funktionen auf unseren Datensatz an und erhalten die angepassten Dataframes.

In [32]:
data = separateLocation(data)
data = separateTime(data)
data = cleanData(data)

In [33]:
data[0].head(5)

,location,weekday,pedestrians,temperature,weatherCondition,incidents,city,year,month,day,hour
0,Obernstraße,Tuesday,16,NaN,NaN,NaN,Bremen,2019,10,1,0
1,Obernstraße,Tuesday,7,NaN,NaN,NaN,Bremen,2019,10,1,1
2,Obernstraße,Tuesday,6,NaN,NaN,NaN,Bremen,2019,10,1,2
3,Obernstraße,Tuesday,5,NaN,NaN,NaN,Bremen,2019,10,1,3
4,Obernstraße,Tuesday,4,NaN,NaN,NaN,Bremen,2019,10,1,4

In [35]:
d = list()

for i in range(len(data)):
    
    d.append(data[i][data[i]['weatherCondition'].isna()])

In [37]:
for i in range(len(d)):
    print(d[i])

        location  weekday  pedestrians  temperature weatherCondition  \
0    Obernstraße  Tuesday           16          NaN              NaN
1    Obernstraße  Tuesday            7          NaN              NaN
2    Obernstraße  Tuesday            6          NaN              NaN
3    Obernstraße  Tuesday            5          NaN              NaN
4    Obernstraße  Tuesday            4          NaN              NaN
..           ...      ...          ...          ...              ...
499  Obernstraße   Monday          822          NaN              NaN
500  Obernstraße   Monday          320          NaN              NaN
501  Obernstraße   Monday          154          NaN              NaN
502  Obernstraße   Monday          109          NaN              NaN
503  Obernstraße   Monday           75          NaN              NaN

    incidents     city  year  month  day  hour
0         NaN   Bremen  2019     10    1     0
1         NaN   Bremen  2019     10    1     1
2         NaN   Bremen  2019     10    1     2
3         NaN   Bremen  2019     10    1     3
4         NaN   Bremen  2019     10    1     4
..        ...      ...   ...    ...  ...   ...
499       NaN   Bremen  2019     10   21    19
500       NaN   Bremen  2019     10   21    20
501       NaN   Bremen  2019     10   21    21
502       NaN   Bremen  2019     10   21    22
503       NaN   Bremen  2019     10   21    23

[504 rows x 11 columns]
Empty DataFrame
Columns: [location, weekday, pedestrians, temperature, weatherCondition, incidents, city, year, month, day, hour]
Index: []
                        location    weekday  pedestrians  temperature  \
1086  Königsallee Ostseite (Süd)     Friday           68          NaN
1128  Königsallee Ostseite (Süd)     Sunday          243          NaN
1199  Königsallee Ostseite (Süd)    Tuesday           75          NaN
1236  Königsallee Ostseite (Süd)   Thursday         1513          NaN
1260  Königsallee Ostseite (Süd)     Friday         1375          NaN
1266  Königsallee Ostseite (Süd)     Friday         1550          NaN
1291  Königsallee Ostseite (Süd)   Saturday         1254          NaN
1319  Königsallee Ostseite (Süd)     Sunday           55          NaN
1410  Königsallee Ostseite (Süd)   Thursday         1326          NaN
1848  Königsallee Ostseite (Süd)    Tuesday           46          NaN
1861  Königsallee Ostseite (Süd)    Tuesday         1663          NaN
1878  Königsallee Ostseite (Süd)  Wednesday           42          NaN
1885  Königsallee Ostseite (Süd)  Wednesday         1511          NaN
1939  Königsallee Ostseite (Süd)     Friday         1135          NaN
1942  Königsallee Ostseite (Süd)     Friday          320          NaN
1970  Königsallee Ostseite (Süd)     Sunday          124          NaN
1987  Königsallee Ostseite (Süd)     Sunday          423          NaN
2030  Königsallee Ostseite (Süd)    Tuesday         1086          NaN
2034  Königsallee Ostseite (Süd)    Tuesday         1288          NaN
2050  Königsallee Ostseite (Süd)  Wednesday          585          NaN
2094  Königsallee Ostseite (Süd)     Friday           54          NaN
2304  Königsallee Ostseite (Süd)     Sunday          395          NaN
2697  Königsallee Ostseite (Süd)    Tuesday          399          NaN
2939  Königsallee Ostseite (Süd)     Friday         1015          NaN
2971  Königsallee Ostseite (Süd)   Saturday         1357          NaN
2975  Königsallee Ostseite (Süd)   Saturday          331          NaN
3017  Königsallee Ostseite (Süd)     Monday         1135          NaN

     weatherCondition  incidents         city  year  month  day  hour
1086              NaN        NaN   Düsseldorf  2018      6   15     6
1128              NaN        NaN   Düsseldorf  2018      6   17     0
1199              NaN        NaN   Düsseldorf  2018      6   19    23
1236              NaN        NaN   Düsseldorf  2018      6   21    12
1260              NaN        NaN   Düsseldorf  2018      6   22    12
1266              NaN        NaN   Düsseldorf  2018      6   22    18
1291              NaN        NaN   Düsseldorf  2018      6   23    19
1319              NaN        NaN   Düsseldorf  2018      6   24    23
1410              NaN        NaN   Düsseldorf  2018      6   28    18
1848              NaN        NaN   Düsseldorf  2018      7   17     0
1861              NaN        NaN   Düsseldorf  2018      7   17    13
1878              NaN        NaN   Düsseldorf  2018      7   18     6
1885              NaN        NaN   Düsseldorf  2018      7   18    13
1939              NaN        NaN   Düsseldorf  2018      7   20    19
1942              NaN        NaN   Düsseldorf  2018      7   20    22
1970              NaN        NaN   Düsseldorf  2018      7   22     2
1987              NaN        NaN   Düsseldorf  2018      7   22    19
2030              NaN        NaN   Düsseldorf  2018      7   24    14
2034              NaN        NaN   Düsseldorf  2018      7   24    18
2050              NaN        NaN   Düsseldorf  2018      7   25    10
2094              NaN        NaN   Düsseldorf  2018      7   27     6
2304              NaN        NaN   Düsseldorf  2018      8    5     0
2697              NaN        NaN   Düsseldorf  2018      8   21     9
2939              NaN        NaN   Düsseldorf  2018      8   31    11
2971              NaN        NaN   Düsseldorf  2018      9    1    19
2975              NaN        NaN   Düsseldorf  2018      9    1    23
3017              NaN        NaN   Düsseldorf  2018      9    3    17
Empty DataFrame
Columns: [location, weekday, pedestrians, temperature, weatherCondition, incidents, city, year, month, day, hour]
Index: []
Empty DataFrame
Columns: [location, weekday, pedestrians, temperature, weatherCondition, incidents, city, year, month, day, hour]
Index: []
        location   weekday  pedestrians  temperature weatherCondition  \
96   Georgstraße    Sunday         1415          NaN              NaN
489  Georgstraße   Tuesday         1963          NaN              NaN
731  Georgstraße    Friday         4356          NaN              NaN
763  Georgstraße  Saturday         6147          NaN              NaN
767  Georgstraße  Saturday         1706          NaN              NaN
809  Georgstraße    Monday         6187          NaN              NaN

     incidents       city  year  month  day  hour
96         NaN   Hannover  2018      8    5     0
489        NaN   Hannover  2018      8   21     9
731        NaN   Hannover  2018      8   31    11
763        NaN   Hannover  2018      9    1    19
767        NaN   Hannover  2018      9    1    23
809        NaN   Hannover  2018      9    3    17
             location    weekday  pedestrians  temperature weatherCondition  \
1086  Stadthausstraße     Friday           58          NaN              NaN
1128  Stadthausstraße     Sunday          100          NaN              NaN
1199  Stadthausstraße    Tuesday           43          NaN              NaN
1236  Stadthausstraße   Thursday         1691          NaN              NaN
1260  Stadthausstraße     Friday         1756          NaN              NaN
1266  Stadthausstraße     Friday         1507          NaN              NaN
1291  Stadthausstraße   Saturday         1133          NaN              NaN
1319  Stadthausstraße     Sunday          104          NaN              NaN
1410  Stadthausstraße   Thursday         1300          NaN              NaN
1848  Stadthausstraße    Tuesday           35          NaN              NaN
1861  Stadthausstraße    Tuesday         1442          NaN              NaN
1878  Stadthausstraße  Wednesday           39          NaN              NaN
1885  Stadthausstraße  Wednesday         1438          NaN              NaN
1939  Stadthausstraße     Friday          692          NaN              NaN
1942  Stadthausstraße     Friday          154          NaN              NaN
1970  Stadthausstraße     Sunday           20          NaN              NaN
1987  Stadthausstraße     Sunday          201          NaN              NaN
2030  Stadthausstraße    Tuesday         1067          NaN              NaN
2034  Stadthausstraße    Tuesday         1005          NaN              NaN
2050  Stadthausstraße  Wednesday          781          NaN              NaN
2094  Stadthausstraße     Friday           53          NaN              NaN
2304  Stadthausstraße     Sunday           77          NaN              NaN
2697  Stadthausstraße    Tuesday          486          NaN              NaN
2939  Stadthausstraße     Friday         1455          NaN              NaN
2971  Stadthausstraße   Saturday          797          NaN              NaN
2975  Stadthausstraße   Saturday           60          NaN              NaN
3017  Stadthausstraße     Monday         1387          NaN              NaN

     incidents    city  year  month  day  hour
1086       NaN   Mainz  2018      6   15     6
1128       NaN   Mainz  2018      6   17     0
1199       NaN   Mainz  2018      6   19    23
1236       NaN   Mainz  2018      6   21    12
1260       NaN   Mainz  2018      6   22    12
1266       NaN   Mainz  2018      6   22    18
1291       NaN   Mainz  2018      6   23    19
1319       NaN   Mainz  2018      6   24    23
1410       NaN   Mainz  2018      6   28    18
1848       NaN   Mainz  2018      7   17     0
1861       NaN   Mainz  2018      7   17    13
1878       NaN   Mainz  2018      7   18     6
1885       NaN   Mainz  2018      7   18    13
1939       NaN   Mainz  2018      7   20    19
1942       NaN   Mainz  2018      7   20    22
1970       NaN   Mainz  2018      7   22     2
1987       NaN   Mainz  2018      7   22    19
2030       NaN   Mainz  2018      7   24    14
2034       NaN   Mainz  2018      7   24    18
2050       NaN   Mainz  2018      7   25    10
2094       NaN   Mainz  2018      7   27     6
2304       NaN   Mainz  2018      8    5     0
2697       NaN   Mainz  2018      8   21     9
2939       NaN   Mainz  2018      8   31    11
2971       NaN   Mainz  2018      9    1    19
2975       NaN   Mainz  2018      9    1    23
3017       NaN   Mainz  2018      9    3    17
Empty DataFrame
Columns: [location, weekday, pedestrians, temperature, weatherCondition, incidents, city, year, month, day, hour]
Index: []
Empty DataFrame
Columns: [location, weekday, pedestrians, temperature, weatherCondition, incidents, city, year, month, day, hour]
Index: []
                   location    weekday  pedestrians  temperature  \
1086  Bahnhofstraße (Mitte)     Friday          240          NaN
1128  Bahnhofstraße (Mitte)     Sunday         1825          NaN
1199  Bahnhofstraße (Mitte)    Tuesday          265          NaN
1236  Bahnhofstraße (Mitte)   Thursday         3969          NaN
1260  Bahnhofstraße (Mitte)     Friday         4368          NaN
1266  Bahnhofstraße (Mitte)     Friday         3257          NaN
1291  Bahnhofstraße (Mitte)   Saturday         4129          NaN
1319  Bahnhofstraße (Mitte)     Sunday          225          NaN
1410  Bahnhofstraße (Mitte)   Thursday         3839          NaN
1848  Bahnhofstraße (Mitte)    Tuesday          142          NaN
1861  Bahnhofstraße (Mitte)    Tuesday         3843          NaN
1878  Bahnhofstraße (Mitte)  Wednesday          147          NaN
1885  Bahnhofstraße (Mitte)  Wednesday         3986          NaN
1939  Bahnhofstraße (Mitte)     Friday         2854          NaN
1942  Bahnhofstraße (Mitte)     Friday         1094          NaN
1970  Bahnhofstraße (Mitte)     Sunday          273          NaN
1987  Bahnhofstraße (Mitte)     Sunday         1114          NaN
2030  Bahnhofstraße (Mitte)    Tuesday         3006          NaN
2034  Bahnhofstraße (Mitte)    Tuesday         2954          NaN
2050  Bahnhofstraße (Mitte)  Wednesday         2077          NaN
2094  Bahnhofstraße (Mitte)     Friday          157          NaN
2304  Bahnhofstraße (Mitte)     Sunday         1112          NaN
2697  Bahnhofstraße (Mitte)    Tuesday         1514          NaN
2939  Bahnhofstraße (Mitte)     Friday         3918          NaN
2971  Bahnhofstraße (Mitte)   Saturday         4762          NaN
2975  Bahnhofstraße (Mitte)   Saturday          819          NaN
3017  Bahnhofstraße (Mitte)     Monday         4307          NaN

     weatherCondition incidents          city  year  month  day  hour
1086              NaN       NaN   Saarbrücken  2018      6   15     6
1128              NaN       NaN   Saarbrücken  2018      6   17     0
1199              NaN       NaN   Saarbrücken  2018      6   19    23
1236              NaN       NaN   Saarbrücken  2018      6   21    12
1260              NaN       NaN   Saarbrücken  2018      6   22    12
1266              NaN       NaN   Saarbrücken  2018      6   22    18
1291              NaN       NaN   Saarbrücken  2018      6   23    19
1319              NaN       NaN   Saarbrücken  2018      6   24    23
1410              NaN       NaN   Saarbrücken  2018      6   28    18
1848              NaN       NaN   Saarbrücken  2018      7   17     0
1861              NaN       NaN   Saarbrücken  2018      7   17    13
1878              NaN       NaN   Saarbrücken  2018      7   18     6
1885              NaN       NaN   Saarbrücken  2018      7   18    13
1939              NaN       NaN   Saarbrücken  2018      7   20    19
1942              NaN       NaN   Saarbrücken  2018      7   20    22
1970              NaN       NaN   Saarbrücken  2018      7   22     2
1987              NaN       NaN   Saarbrücken  2018      7   22    19
2030              NaN       NaN   Saarbrücken  2018      7   24    14
2034              NaN       NaN   Saarbrücken  2018      7   24    18
2050              NaN       NaN   Saarbrücken  2018      7   25    10
2094              NaN       NaN   Saarbrücken  2018      7   27     6
2304              NaN       NaN   Saarbrücken  2018      8    5     0
2697              NaN       NaN   Saarbrücken  2018      8   21     9
2939              NaN       NaN   Saarbrücken  2018      8   31    11
2971              NaN       NaN   Saarbrücken  2018      9    1    19
2975              NaN       NaN   Saarbrücken  2018      9    1    23
3017              NaN       NaN   Saarbrücken  2018      9    3    17
                 location    weekday  pedestrians  temperature  \
1086  Königstraße (Mitte)     Friday          214          NaN
1128  Königstraße (Mitte)     Sunday         2498          NaN
1199  Königstraße (Mitte)    Tuesday          512          NaN
1236  Königstraße (Mitte)   Thursday         3561          NaN
1260  Königstraße (Mitte)     Friday         3910          NaN
1266  Königstraße (Mitte)     Friday         5451          NaN
1291  Königstraße (Mitte)   Saturday         6456          NaN
1319  Königstraße (Mitte)     Sunday          359          NaN
1410  Königstraße (Mitte)   Thursday         4453          NaN
1848  Königstraße (Mitte)    Tuesday          197          NaN
1861  Königstraße (Mitte)    Tuesday         4297          NaN
1878  Königstraße (Mitte)  Wednesday          215          NaN
1885  Königstraße (Mitte)  Wednesday         4091          NaN
1939  Königstraße (Mitte)     Friday         5063          NaN
1942  Königstraße (Mitte)     Friday         3055          NaN
1970  Königstraße (Mitte)     Sunday         1058          NaN
1987  Königstraße (Mitte)     Sunday         2065          NaN
2030  Königstraße (Mitte)    Tuesday         4231          NaN
2034  Königstraße (Mitte)    Tuesday         4808          NaN
2050  Königstraße (Mitte)  Wednesday         1904          NaN
2094  Königstraße (Mitte)     Friday          181          NaN
2304  Königstraße (Mitte)     Sunday         4565          NaN
2697  Königstraße (Mitte)    Tuesday          850          NaN
2939  Königstraße (Mitte)     Friday         1019          NaN
2971  Königstraße (Mitte)   Saturday         7252          NaN
2975  Königstraße (Mitte)   Saturday         2921          NaN
3017  Königstraße (Mitte)     Monday         5685          NaN

     weatherCondition incidents        city  year  month  day  hour
1086              NaN       NaN   Stuttgart  2018      6   15     6
1128              NaN       NaN   Stuttgart  2018      6   17     0
1199              NaN       NaN   Stuttgart  2018      6   19    23
1236              NaN       NaN   Stuttgart  2018      6   21    12
1260              NaN       NaN   Stuttgart  2018      6   22    12
1266              NaN       NaN   Stuttgart  2018      6   22    18
1291              NaN       NaN   Stuttgart  2018      6   23    19
1319              NaN       NaN   Stuttgart  2018      6   24    23
1410              NaN       NaN   Stuttgart  2018      6   28    18
1848              NaN       NaN   Stuttgart  2018      7   17     0
1861              NaN       NaN   Stuttgart  2018      7   17    13
1878              NaN       NaN   Stuttgart  2018      7   18     6
1885              NaN       NaN   Stuttgart  2018      7   18    13
1939              NaN       NaN   Stuttgart  2018      7   20    19
1942              NaN       NaN   Stuttgart  2018      7   20    22
1970              NaN       NaN   Stuttgart  2018      7   22     2
1987              NaN       NaN   Stuttgart  2018      7   22    19
2030              NaN       NaN   Stuttgart  2018      7   24    14
2034              NaN       NaN   Stuttgart  2018      7   24    18
2050              NaN       NaN   Stuttgart  2018      7   25    10
2094              NaN       NaN   Stuttgart  2018      7   27     6
2304              NaN       NaN   Stuttgart  2018      8    5     0
2697              NaN       NaN   Stuttgart  2018      8   21     9
2939              NaN       NaN   Stuttgart  2018      8   31    11
2971              NaN       NaN   Stuttgart  2018      9    1    19
2975              NaN       NaN   Stuttgart  2018      9    1    23
3017              NaN       NaN   Stuttgart  2018      9    3    17

# Daten in MongoDB speichern

Um die verarbeiteten Daten schließlich dauerhaft zu speichern, lesen wir sie in ein MongoDB ein. Dafür wird das Package *pymongo* verwendet.

Zunächst muss der MongoDB Service gestartet werden, anschließend kann mit der Ausführung des Notebooks fortgeführt werden. Wir startet damit uns mit dem Service zu verbinden.

In [9]:
client = pymongo.MongoClient('mongodb://localhost:27017')

MongoDB ist ein nicht relationale Datenbank, die ihre Daten im JSON-Format hält. Pandas stellt hierfür die Funktion ```DATAFRAME.to_dict()``` zur Verfügung, mit welcher wir unsere Dataframes in ein JSON-Objekt konvertieren können.

In [10]:
dataJson = dict()
for i in range(len(data)):
    data[i] = data[i].to_dict(orient='records')

Nun muss auf die Datenbank zugegriffen werden. Falls diese noch nicht vorhanden ist, wird sie automatisch erstellt. Wir speichern anschließend alle Daten in der Collection **HyStreetData**.

In [11]:
db = client['HyStreet']

for i in range(len(data)):
    db.HyStreetData.insert_many(data[i])